p {
    font-family: 'Quicksand', sans-serif;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background: -webkit-linear-gradient(left, rgba(10, 10, 13, 1) 0%, rgba(27, 27, 36, 1) 100%);
    background: linear-gradient(to right, rgba(10, 10, 13, 1) 0%, rgba(27, 27, 36, 1) 100%);
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.sidenav a:active,
.sidenav a:focus {
    color: #f1f1f1;
    background: linear-gradient(to right, #1d1d26 0%, #383847 100%);
    background: -webkit-linear-gradient(left, #1d1d26 0%, #383847 100%);
    border-color: #3c3c4d;
    border: 1px solid #3c3c3d;
    box-shadow: 0px 0px 4px #9e9e9e7d;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 0px !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#wrapper {
    /*
    background-image: url(../img/material-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 100vh;
*/
}

#service_section,
#project_section,
#contact_section {
    padding-top: 10%;
}

.menu-icon,
    {
    color: #f1f1f1;
    /* float: right; */
    padding: 10px;
    font-size: 25px;
}

.menu-icon > i {
    padding: 30px;
    position: fixed;
    z-index: 1;
}

.intro-wrapper {
    padding-top: 20%;
}

@keyframes spin {
    from {
        transform: rotateY(360deg);
        transition: 2s;
        transition-duration: 2s;
        transition-timing-function: ease-in;
    }

    to {
        transform: rotateY(0deg);
    }

}

@-webkit-keyframes spin {
    from {
        transform: rotateY(360deg);
        transition: 2s;
        transition-duration: 2s;
        transition-timing-function: ease-in;
    }

    to {
        transform: rotateY(0deg);
    }

}

.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    -webkit-animation-name: spin;
    animation-name: spin;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 10%;
}

.intro-title {
    font-size: 65px;
    color: white;
}

.section-title {
    font-size: 45px;
    color: white;
}

hr {
    background-color: rgba(245, 245, 245, 0.2);
}

.desc {
    font-size: 20px;
}

.mini_title {
    color: white;
    font-size: 24px;
}

.nav-icon,
.fas {
    color: #f1f1f1;
    font-size: 25px;
}

.to_top {
    /* float: right !important; */
    position: fixed;
    bottom: 0px;
    right: 20px;
}

.contact-btn {
    float: right;
    background: #0000;
    border-color: #fff;
}

.contact_form {
    padding-top: 20px;
}

.form-control {
    margin: 10px;
}

.box-carousel {
    width: 100% !important;
    height: 100% !important;
}

.box-active {
    z-index: 2 !important;
}

.socials {
    font-size: 35px;
}

canvas {
    position: fixed;

    background-image: url(../img/material-bg.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Preloader
-----------------------------------------------*/

.loadText {
    font-family: Arial;
    color: #000;
    font-size: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.preloader {
    background-color: #354e60;
    height: 100%;
    padding-top: 15%;
    /* margin-left: -20px;
	margin-top: -20px; */
    position: fixed;
    width: 100%;
    z-index: 99;
}

@media screen and (max-width: 450px) {
    .preloader {
        padding-top: 50%;
    }

    .center {
        width: 100%;
    }



}

/*gallery*/

#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.green {
    background-color: #6fb936;
}

.thumb {
    margin-bottom: 20px;
}

.page-top {
    margin-top: 150px;
}


img.zoom {
    width: 100%;
    height: 200px;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}


.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {

    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer {
    display: none;
}

.gallery {
    width: 100%;
    margin: 0px
}

form#contact_form {
    padding: 0px 15px 0px 0px;
}
