.navbar {
    background-color: #2949608c;
}

.nav-link {
    color: aliceblue;
}

#wrapper {
    height: 100vh;
    background: url(../img/material-bg.jpg);
}

@media (max-width :900px) {
    #wrapper {
        height: 100%;
        background: url(../img/material-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

}

.banner-text {
    font-size: 65px;
    color: white;
}

.banner-wrapper {
    top: 40%;
}

.subtext {
    color: aliceblue;
}

.navbar {
    background-color: #2949608c;
}

.nav-link {
    color: aliceblue;
}

.nav-link:hover {
    color: lightblue;
}


.banner-text {
    font-size: 65px;
    color: white;
}

.banner-wrapper {
    top: 28%;
}

.subtext {
    color: aliceblue;
}

@-webkit-keyframes spin {
    from {
        transform: rotateY(360deg);
        transition: 2s;
        transition-duration: 2s;
        transition-timing-function: ease-in;
    }
    to {
        transform: rotateY(0deg);
    }


}

.logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}

.text-light {
    color: aliceblue;
}

.about-text {
        background-color: rgba(255, 255, 255, 0.65);
    border-radius: 10px;
    padding: 10px;
}
